<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Connect</title>
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@20.8.3/dist/primer.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <meta charset="UTF-8">
</head>
<body class="d-flex mx-10">
    <div>
        <button class="btn btn-primary m-10" type="button">RUN</button>
        <div id="detail" class="m-10">.....</div>
    </div>
</body>
</html>