<!DOCTYPE html>
<html lang="zh">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://localhost:5000');

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('response', function(data) {
            console.log('Received response:', data);
            // 在这里根据需要，更新页面显示消息
        });

        function sendMessage() {
            var message = document.getElementById('message').value;
            socket.emit('message', message);
        }
    </script>
</head>
<body>
    <input type="text" id="message">
    <button onclick="sendMessage()">Send</button>
</body>
</html>