<!DOCTYPE html>
<html class="height-full" data-color-mode="light" data-light-theme="light" lang="zh">
<head>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <meta charset="UTF-8">
    <title>GysoNetCapture</title>

</head>
<body class="height-full">
<div class="tabnav mt-4 ml-2 color-legend">
    <a class="btn btn-sm float-right" href="#url" role="button">Button</a>
    <nav class="tabnav-tabs" aria-label="Head bar">
        <a class="tabnav-tab" href="/" aria-current="page">请求列表</a>
        <a class="tabnav-tab" href="/">修改请求|响应</a>
        <a class="tabnav-tab" href="/">连接状态</a>
    </nav>
</div>
<div class="d-flex flex-column mx-2 height-full">
    <div id="chat-list" class="d-flex flex-column flex-auto" style="height: 100%;max-width: 40%">
        <div id="item-message-block" class="d-flex p-2 border-top color-bg-accent">
            <div id="item-message" class="overflow-hidden flex-self-center">
                http://localhost:63342/gyso_net_capture/gysohooks/templates/data.html?_ijt=4dl8hk2epsk8e61mmaoo0pko0q&_ij_reload=RELOAD_ON_SAVE
            </div>
        </div>
        <div id="item-message-block" class="d-flex p-2 border-top color-bg-accent">
            <div id="item-message" class="overflow-hidden flex-self-center">
                http://localhost:63342/gyso_net_capture/gysohooks/templates/data.html?_ijt=4dl8hk2epsk8e61mmaoo0pko0q&_ij_reload=RELOAD_ON_SAVE
            </div>
        </div>
        <div id="item-message-block" class="d-flex p-2 border-top color-bg-accent">
            <div id="item-message" class="overflow-hidden flex-self-center">
                http://localhost:63342/gyso_net_capture/gysohooks/templates/data.html?_ijt=4dl8hk2epsk8e61mmaoo0pko0q&_ij_reload=RELOAD_ON_SAVE
            </div>
        </div>
        <div id="item-message-block" class="d-flex p-2 border-top color-bg-accent">
            <div id="item-message" class="overflow-hidden flex-self-center">
                http://localhost:63342/gyso_net_capture/gysohooks/templates/data.html?_ijt=4dl8hk2epsk8e61mmaoo0pko0q&_ij_reload=RELOAD_ON_SAVE
            </div>
        </div>
    </div>
</div>
</body>
<script src="{{ url_for('static', filename='data.js') }}"></script>
</html>