<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@20.8.3/dist/primer.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <meta charset="UTF-8">
    <title>GysoNetCapture</title>
    <link rel="stylesheet" href="../static/edit_data.css">
</head>
<body>
<div class="navtab">
    <ul>
        <li data-href="/">会话捕捉</li>
        <li class="selected" data-href="/edit">数据纂改</li>
        <li data-href="/settings">设置及使用说明</li>
    </ul>
</div>
<div class="container">
    <div class="left-section">
        <!-- 左侧部分的内容 -->
        <div class="content_left">
            <p class="m-2">
                <input class="mb-2 color-bg-danger" type="file" id="history-file-input">
                <span class="BtnGroup">
                    <button id="import-data" class="BtnGroup-item btn" type="button">导入历史数据</button>
                    <button id="clear-data" class="BtnGroup-item btn" type="button">清空</button>
                    <button id="stop-start-capture" class="BtnGroup-item btn btn-danger" type="button">应用篡改</button>
                </span>
            </p>
            <ul id="capture-list" class="menu" style="background-color: lightgray">
                <div id="capture-list-blank-tip" class="blankslate mt-10" style="background-color: lightgray">
                    <h3 class="blankslate-heading">~还没有捕捉到会话数据~</h3>
                    <p>可以打开<a>连接状态</a>查看连接信息</p>
                </div>
            </ul>
        </div>
    </div>
    <div class="right-section color-bg-inset">
        <div class="content_right">
            <nav class="UnderlineNav">
                <div class="UnderlineNav-body" role="tablist">
                    <button class="UnderlineNav-item" role="tab" type="button" aria-selected="true">历史请求&响应
                    </button>
                </div>
            </nav>
            <div>

            </div>
            <div id="capture-detail">
                <div id="capture-detail-request" class="Box m-2 color-shadow-small color-bg-subtle">
                    <div class="Box-row">
                        <h5 class="m-0">历史请求信息 >></h5>
                    </div>
                    <div class="Box-row">
                        <p id="capture-request-url" class="mb-0x">
                            <b id="capture-request-method">GET</b> <br>http://www.taobao.com/
                        </p>
                    </div>
                    <div id="capture-request-header" class="Box-row">
                        <b>Headers</b> <br>
                        <p id="capture-request-header-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Curabitur consectetur urna nec
                            malesuad
                            apharetra.</p>
                    </div>
                    <div id="capture-request-body" class="Box-row">
                        <b>Request body</b> <br>
                        <p id="capture-request-body-detail">Lorem ipsum dolor sit amet, consectetur \n adipiscing elit.
                            Curabitur consectetur urna nec
                            malesuad
                            apharetra.</p>
                    </div>
                </div>
                <div id="capture-detail-response" class="Box m-2 color-shadow-small color-bg-subtle">
                    <div class="Box-row">
                        <h5 class="m-0">历史响应信息 >></h5>
                    </div>
                    <div id="capture-response-state" class="Box-row">
                        <b>200</b> <br>
                    </div>
                    <div id="capture-response-header" class="Box-row">
                        <b>Headers</b> <br>
                        <p id="capture-response-header-detail" class="mb-0 color-fg-muted">Taxidermy live-edge mixtape,
                            keytar tumeric locavore meh selvage
                            deep
                            v letterpress vexillologist lo-fi tousled church-key thundercats. Brooklyn bicycle rights
                            tousled, marfa actually.</p>
                    </div>
                    <div id="capture-response-body" class="Box-row">
                        <b>Response body</b> <br>
                        <div id="capture-response-body-detail" style="white-space: pre-wrap">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Curabitur consectetur urna nec
                            malesuad
                            apharetra.
                        </div>
                    </div>
                </div>
            </div>
            <div id="capture-detail-blank" class="blankslate mt-11">
                <h3 class="blankslate-heading">~空空如也~</h3>
                <p>请单击左侧的抓包记录查看详情。</p>
            </div>
        </div>
    </div>
    <div class="last-section ">
        <nav class="UnderlineNav">
            <div class="UnderlineNav-body" role="tablist">
                <button class="UnderlineNav-item" role="tab" type="button" aria-selected="true">编辑数据</button>
            </div>
        </nav>
        <img class="ml-4" src="../static/net_path.png" width="90%">
        <div class="color-fg-danger ml-4 mt-4 h5">篡改目标URL</div>

        <div id="target-url" class="color-bg-closed-emphasis color-fg-on-emphasis p-2 rounded mx-4 mt-1 f4">url</div>
        <form>
            <div class="form-group mx-4 mt-4">
                <div class="form-group-header">
                    <label class="color-fg-success">①修改请求</label>
                </div>
                <button class="btn btn-sm btn-outline mb-2" type="button">释放</button>
                <button class="btn btn-sm btn-danger mb-2" type="button" aria-selected="true">锁定</button>
                <div class="form-group-body">
                    <textarea id="edit-request-textarea" class="form-control color-bg-open mt-2"></textarea>
                </div>
            </div>
        </form>


        <form>
            <div class="form-group  mx-4  mt-4">
                <div class="form-group-header">
                    <label class="color-fg-danger">②修改响应</label>
                </div>
                <div class="form-group-body">
                    <h5>Header</h5>
                    <button class="btn btn-sm btn-outline" type="button">释放</button>
                    <button class="btn btn-sm btn-danger" type="button" aria-selected="true">锁定</button>
                    <textarea id="edit-response-textarea-header" class="form-control  color-bg-danger mt-2"></textarea>

                    <h5 class="mt-2">Response Body</h5>
                    <button class="btn btn-sm btn-outline" type="button">释放</button>
                    <button class="btn btn-sm btn-danger" type="button" aria-selected="true">锁定</button>
                    <textarea id="edit-response-textarea-body" class="form-control  color-bg-danger mt-2"></textarea>
                </div>
            </div>
        </form>

    </div>
</div>
<li id="base-item" class="Truncate d-none">
    <span id="base-item-type" class="Label mr-1 Label--accent">get</span>
    <span id="base-item-url" class="Truncate-text Truncate-text--expandable">http://10.219.8.4/wiki/index.php/Toyota_23MM_Mid_AVN#.E8.BD.AF.E4.BB.B6.E5.8C.85.E8.B7.AF.E5.BE.84</span>
</li>
</body>
<script src="{{ url_for('static', filename='edit_data.js') }}"></script>
</html>

