<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/net_capture_list.css">
    <title>SH</title>
</head>
<body>
<div class="left-section">
    <!-- 左侧部分的内容 -->
    <div class="content_left">
        <ul class="menu">
            <li>Item 1</li>
            <li class="selected">Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>
</div>
<div class="right-section">
    <!-- 右侧部分的内容 -->
    <div class="content_right">
        <!-- 右侧内容 -->
        <h3>Right Section</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur urna nec malesuada
            pharetra.</p>
        <!-- 更多右侧内容 -->
    </div>
</div>
</body>
</html>
